@model FrenchBulldogDetailsServiceModel

<div class="jumbotron">
  <h1 class="display-4">Name: @Model.Name</h1>
  <p class="lead">Color: @Model.ColorName, Age: @Model.Age</p>
  <hr class="my-4">
  <p>Description: @Model.Description</p>
  <p class="lead">
    For @Model.CategoryName, Breeder: @Model.BreederName
  </p>
</div>