@model FrenchBulldogDetailsServiceModel

<div class="col-md-6 offset-3">
    <h2>@Model.Name</h2>
    <p>@Model.ColorName</p>
    <p>@Model.Age</p>
    <p>@Model.Description</p>
    <p>@Model.CategoryName</p>
    <p>@Model.BreederName</p>
</div>